.skill-outer-div {
    width: 100%;
    background-color:rgba(24, 34, 59)
}

.skill-title {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 2rem;
    font-size: 1.5vw;
    font-family: "Roboto";
    font-weight: bold;
    color: #9DAAF2;
    text-transform: uppercase;
    gap: 1rem;

}

.skill-inner-div{
    width: 100%;
    display: flex;
    flex-direction: row; 
}

.skill-image {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.skills-itens{
    display: flex;
    flex-direction: row;
    width: 50%;
    list-style-type: none;
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto";
    padding-left: 5rem;

}
