.skill-outer-div {
    width: 100%;
    background-color:rgba(24, 34, 59)
}

.skill-title {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 2rem;
    font-size: 1.5vw;
    font-family: "Roboto";
    font-weight: bold;
    color: #9DAAF2;
    text-transform: uppercase;

}