@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(24, 34, 59),
      rgba(24, 34, 59)
    ),
    url("../assets/img/header-background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.navbar-items {
  width: 79%;
  padding-top: 1%;
}

.nav-ul {
  list-style: none;
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
}

.items-label {
  font-weight: bold;
  font-family: "Roboto";
  color: white;
  font-size: 100%;
  cursor: pointer;
  position: static;
  padding: 0;
}
.items-label:last-child {
  color: #F4DB7D;
}

.items-label:hover {
  transform:scale(1.5);
  color: #F4DB7D;
}

.icon-items {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 0.2rem;
  margin-right: 0.5rem;
}


.text-box {
  width: 67.8%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.heading-primary-main {
  display: block;
  font-size: 35px;
  letter-spacing: 10px;
  font-weight: bold;
}

.heading-primary-welcome {
  display: block;
  font-size: 50px;
  text-transform:none;
  letter-spacing: 25px;
  font-weight: 400
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 10px;
  animation: typing 2.5s steps(50, end) forwards;
  overflow: hidden;
  border-right: 0.15em solid white;
}
@keyframes typing {
  0% {
    width: 0;
    white-space: nowrap;
  }
  20% {
    width: 20%;
    white-space: nowrap;
  }
  80% {
    width: 80%;
    white-space: nowrap;
  }
  99% {
    white-space: nowrap;
  }

  100% {
    width: 89%;
    white-space: normal;
    border-right: none;
  }
}

.text-box-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4rem;
  align-items: center;
  padding-right: 6.5rem;
  cursor: pointer;
}

.btn-text-box {
  color: white;
  background-color: rgba(211, 53, 200);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 12px;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 16px;
  border: 1px solid white;
  cursor: pointer;
  animation: showUp 10s linear both;
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
  }
}

.c-label {
  color: white;
  padding-top: 10px;
  animation: showUp 10s linear both;
}
.btn-text-box:hover {
  background-color: rgb(146, 11, 137);
  cursor: poiter;
}

